:root {
	--main-text-color: #434455;
	--second-text-color: #2e2f42;
	--white-text-color: #ffffff;
	--web-logo-color: #4d5ae5;
	--footer-logo-text-color: #f4f4fd;

	--main-background-color: #ffffff;
	--second-background-color: #2e2f42;
	--third-background-color: #f4f4fd;
	--fourth-background-color: #4d5ae5;

	--main-button-text: #4d5ae5;
	--hover-button-text: #ffffff;
	--main-button-color: #4d5ae5;
	--hover-button-color: #404bbf;
	--pressed-button-color: #404bbf;

	--main-filter-color: #4d5ae5;
	--accent-filter-color: #e7e9fc;
	--pressed-filter-color: #404bbf;
	--initial-filter-color: #f4f4fd;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	color: var(--main-text-color);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	background-color: var(--main-background-color);
}

button {
	border: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--second-text-color);
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

img {
	display: block;

	width: 100%;
	height: auto;
}

.container {
	width: 1158px;

	margin: 0 auto;
	padding: 0 15px;

	/* outline: 2px solid green; */
}

/* hiden title */
.visible__hidden {
	opacity: 0;
	width: 0;
	height: 0;
}

/* HEADER */
/* LOGO */

.header {
	border-bottom: 2px solid #F4F4FD;
}

.header__nav {
	display: flex;
	align-items: center;
	
}

.nav {
	display: flex;
	align-items: center;
}

.logo-text {
	color: var(--web-logo-color);
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 1.16;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}

.nav__list {
	display: flex;

	margin-left: 76px;
}

.span-studio {
	color: var(--second-text-color);
}

.nav-item {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.32px;
	color: var(--main-text-color);

	padding: 24px 0;

	cursor: pointer;
}

.nav-item:not(:first-child) {
	margin-left: 40px;
}

.address-list {
	display: flex;
	font-style: normal;

	margin-left: 332px;
}

.address-item {
	color: var(--main-text-color);
	font-size: 16px;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.32px;

	padding: 24px 0;

	cursor: pointer;
}

.address-item:not(:first-child) {
	margin-left: 40px;
}

.link:hover,
.link:focus {
	color: var(--hover-button-color);
}

.link:active {
	color: var(--hover-button-color);
}

/* SCREEN 01 = Hero */

.hero {
	width: 100%;
	height: 600px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--second-background-color);
}

.hero-title {
	max-width: 496px;

	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--white-text-color);
}

.hero-button {
	min-width: 169px;

	padding: 16px 32px;
	margin-top: 48px;

	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.64px;
	color: var(--white-text-color);

	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

	background-color: var(--main-button-color);

	cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--hover-button-color);
}

/* SCREEN 02 = SECTION 2 */
.features {
	padding: 120px 0;
}

.features__list {
	display: flex;
}

.features__item {
	max-width: 264px;
}

.features__item:not(:first-child) {
	margin-left: 24px;
}

.title-features {
	/* Header 3 */
	color: var(--second-text-color);
	font-family: Roboto, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.features-text {
	color: var(--main-text-color);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* SCREEN 03 = SECTION 3 */

.picture-list {
	display: flex;
	margin-top: 72px;
	padding-bottom: 120px;
}

.title-pictures {
	/* Header 2 */
	color: var(--second-text-color);
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
}

.picture-item:not(:first-child) {
	margin-left: 24px;
}

/* SCREEN 04 = SECTION 4 */

.team {
	padding: 120px 0;
	background-color: var(--third-background-color);
}

.team__list {
	margin-top: 72px;

	display: flex;
}

.team__item {
	width: 264px;
	height: 348px;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 0px 0px 4px 4px;
	background-color: var(--main-background-color);
	box-shadow:
		0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team__item:not(:first-child) {
	margin-left: 24px;
}

.team__item-img {
	height: 260px;

	overflow: hidden;
}

.team__item-text {
	padding: 32px 0;

	text-align: center;
}

.features-text {
	margin-top: 8px;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */

.footer {
	background-color: var(--second-background-color);
	height: 312px;
}

.footer-span-studio {
	color: var(--footer-logo-text-color);
}

.logo-footer {
	display: block;
	padding-top: 101.5px;
}

.footer-text {
	color: var(--footer-logo-text-color);
	line-height: 1.5;
	letter-spacing: 0.02em;

	max-width: 264px;
	margin-top: 17.5px;
}

/* PORTFOLIO PAGE*/ /* PORTFOLIO PAGE*/

.filter-list {
	display: flex;
	padding-top: 96px;
	text-align: center;
	justify-content: center;
}

.filter-item {
	margin-right: 24px;

}

.filter-item:last-child {
	margin-right: 0;
}

.button-filter {
	color: var(--main-button-text);
	
	
	/* Button Text */
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: var(--initial-filter-color);

	cursor: pointer;

	padding: 12px 24px;
	border-radius: 4px;
	box-shadow:
	0px 2px 2px 0px rgba(0, 0, 0, 0.12),
	0px 2px 1px 0px rgba(0, 0, 0, 0.08),
	0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button-filter:hover,
.button-filter:focus {
	color: var(--hover-button-text);
	background-color: var(--hover-button-color);
}

.button-filter:active {
	color: var(--hover-button-text);
	background-color: var(--pressed-button-color);
}

/* PORTFOLIO FIELDS */

.portfolio-fields-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 120px;
	padding-top: 72px;
}

.portfolio-fields-item {
	margin-right: 24px;
	margin-bottom: 48px;
}

.portfolio-fields-item:nth-child(3n){
	margin-right: 0;
}

.portfolio-fields-item:nth-last-child(-n+3) {
	margin-bottom: 0;
}

.fields-title {
	color: var(--second-text-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.fields-text {
	color: var(--main-text-color);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	margin-top: 8px;
}

.portfolio-card-border {
	border-bottom: 2px solid #F4F4FD;
	border-left: 2px solid #F4F4FD;
	border-right: 2px solid #F4F4FD;
	padding: 32px 16px;
}